/* Estilos para a barra de rolagem */
::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
}

/* Estilos para o botão da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #C5C5C5; /* Cor do botão da barra de rolagem */
    border-radius: 20px; /* Raio das bordas */
}

/* Estilos para a trilha da barra de rolagem */
::-webkit-scrollbar-track {
    background: #161513; /* Cor da trilha da barra de rolagem */
    border-radius: 20px; /* Raio das bordas */
}

/* Estilos para a barra de rolagem */
::-webkit-scrollbar-thumb {
    height: 3px; /* Altura do botão da barra de rolagem */
}
